ul#horizontal-list {list-style: none;}

ul#horizontal-list li {display: inline; margin-right: 20px;}

#active-page {color: #EE4036;}

.container {position: relative; color: white; margin-left: 40px;}

.top-left-text {position:absolute; top:8px; left:16px; font-size:30px;}

.text {inline-size:350px; overflow-wrap:break-word;}

#nw {margin-left:40px; max-width:80%; font-size:16px;}
#nw1 {margin-left:40px; max-width:80%; font-size:16px;}
#nw2 {margin-left:40px; max-width:80%; font-size:16px;}

a[href^="mailto"]::before {content: "📧 ";}
a[href^="tel"]::before {content: "📞 ";}

address {text-align:center; margin-left:auto; margin-right:auto; padding-top:9%; padding-bottom:9%;}

h3 {color:#3D58A6; line-height: 0px; font-family: "BPG Nino Mtavruli Bold", sans-serif;}

h2 {background-color:#3D58A6; color:#ffffff; height:50px; font-size:45px; width:45px; margin-bottom:0px;}

article {padding:15px 0px 15px 0px;}

#vln {border:1px solid #3D58A6; height:35px; margin-left:0px; margin-right:0px; display:inline; padding-top:18px;}

a {text-decoration:none;}

.hhh {font-family: "BPG Nino Mtavruli", sans-serif;}

.mainarticle {font-family: "BPG Ingiri Arial", sans-serif; font-size:16px;}

#articlename {color:#3D58A6; font-size:18px; font-family: "BPG Nino Mtavruli", sans-serif; padding-top:3px;}

.apage {font-family: "BPG Nino Mtavruli Bold", sans-serif;}

.links {font-family: "BPG Nino Mtavruli", sans-serif;}